.slide-container {

  // ("React Slick" library .class)
  .slick-list {
    background: rgb(117 107 125 / 33%);
    border: 2px solid #8686b4;
    border-radius: 7px;
    box-shadow: 0 0 5px 1px #5f5f61;
  }

  //

  .image-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 3px;
  }

  // buttons style (the "React Slick" library .classes)
  .slick-next:before, .slick-prev:before {
    font-size: 60px;
    color: #7f5edd;
  }

  .slick-next, .slick-prev {
    width: 60px;
    height: 60px;
    z-index: 1;
    top: 110%;

    &:hover {
      width: 67px;
      height: 67px;
    }

    &:hover:before {
      color: #6846ea;
    }

    &:focus:before {
      color: #965151;
    }
  }

  .slick-prev {
    left: 15px;
  }

  .slick-next {
    right: 15px;
  }

  @media (min-width: 1100px) {
    .slick-next, .slick-prev {
      top: 50%;
    }
  }

  @media (max-height: 630px) {
    .slick-next, .slick-prev {
      top: 50%;
    }

    .slick-next:before, .slick-prev:before {
      font-size: 30px;
    }
  }
  //
}


