@import "../../styles/general";

.add-image-popup-wrapper {
  @include container(unset, center, center);
  position: fixed;
  z-index: 4;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;


  .add-image-popup {
    background: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0 6px;
  }

  form {
    @include container(column, unset, center);
  }

  input[type="file"] {
    display: none;
  }

  #image-upload-indication {
    @include container(row, center, center);
    margin-top: 15px;

    img {
      height: 100px;
      width: auto;
    }
  }

  #image-upload-preview {
    @include container(column, center, center);
    width: 150px;
    margin-bottom: 15px;

    input {
      border: none;
      border-bottom: 1px solid black;
      flex: 1;
    }

    input:focus-visible {
      outline: none;
    }

    // dropdown style //
    .dropdown {
      margin-top: 15px;
      background: white;
    }

    .current-category-section {
      padding: 5px;
    }

    .current-category {
      width: 120px;
    }

    .select {

      .option {
        padding: 0 5px;
      }
    }

    .popup-category .add-category button {
      margin: 0 3px;
    }

    .ellipsis-container {
      width: 110px;
    }
    // end of dropdown
  }

  .btn-section button {
    margin: 3px;
  }

  p {
    padding: 0 10px;
  }

  button, label, .btn {
    @include btn(#cfc1ff, #727272);
    background: #d9d0fd;
    border-radius: 3px;
    border: none;
  }

  .upload-btn {
    min-width: 103px;
    min-height: 30px;
  }

  .loader {
    margin: auto;
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}