@import "src/styles/general";

.checkout-down-page {
  @include container(column, start, center);
  height: 100%;
  background: linear-gradient(188deg, #3355ea, transparent);
  padding-bottom: 70px;

  .up-btn {
    color: white;
    border: 1px solid #0000ff36;
    box-shadow: 0 0 6px #1b1bb7;

    &:hover {
      box-shadow: 0 0 10px #1b1bb7;
    }
  }

  h3 {
    width: 300px;
    border-bottom: 0 solid;
    background-image: radial-gradient(#2118ff, #4a6efc);
    background-position: bottom;
    background-size: 100% 2px;
    background-repeat: no-repeat;
    text-align: center;
  }

  .payment-card {
    @include container(column, center, center);
    background: white;
    max-width: 60%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px blue;

    .credit-total {
      width: 350px;
      border-bottom: 1px solid blue;
    }

    .payment-f {
      @include container(row, space-between, center);
      flex-wrap: wrap;
      width: 350px;
      margin-bottom: 10px;
      border-bottom: 1px solid #fd00ff85;
      padding-bottom: 15px;
    }

    @media (max-width: 650px) {
      .credit-total, .payment-f {
        width: 100%;
      }
    }
    
    @media (max-width: 535px) {

      .payment-f {
        flex-direction: column;
        text-align: left;
      }

      .payment-f * {
        width: 100%;
      }
    }


    .btn {
      @include btn(gray, white);
      background: #9f4545;
      color: #cad0d9;
      border-radius: 7px;
      margin-top: 20px;
    }

  }

  @media (max-width: 350px) {
    .payment-card {
      width: 85%;
      max-width: unset;
    }
  }
}

@media (max-width: 535px) {
  .checkout-down-page  {
    height: unset;
    padding-bottom: 50px;
}

}

@media (min-height: 1000px) {
  .checkout-down-page {
    height: unset;
  }
}