@import "src/styles/general";


.checkout-up-page {
  @include container(row, start, center);
  background: #9c9cf7;
  box-shadow: inset 0 2px 8px #3939fe;
  width: 100%;
  height: 100%;


  .co-up-l, .co-up-r {
    height: 100%;
    flex: 1;
  }

  .co-up-l {
    padding-left: 20px;

    h2 {
      border-bottom: 0 solid;
      background-image: linear-gradient(to right, #3128ff, #9c9cf7);
      background-position: bottom;
      background-size: 100% 2px;
      background-repeat: no-repeat;
    }

    .input-f-wrapper {
      @include container(row, space-between, center);
      width: 350px;
      margin-bottom: 10px;
    }

    .continue-btn {
      @include container(unset, center, center);

      .btn {
        @include btn(gray, white);
        margin-top: 20px;
        background: #a94affb3;
        font-size: 1.3em;
      }
    }

  }

  //

  .co-up-r {
    position: relative;

    .blur-checkout-img {
      @include blurBackGround();
      background: linear-gradient(272deg, #0332ff7a, transparent);
      position: absolute;
      top: 0;
      right: 0;
    }

  }

}

.checkout-down-page {
  @include container(column, start, center);
  height: 100%;
  background: linear-gradient(188deg, #3355ea, transparent);

  .up-btn {

    @include btn(unset, white);
    position: sticky;
    top: 30px;

    height: 41px;
    margin: 30px -90% 0 0;
    padding: 5px 10px;

    font-size: 1.2em;
    color: white;
    border: 1px solid #0000ff36;
    border-radius: 25px;
    box-shadow: 0 0 6px #1b1bb7;

      svg {
        margin-top: 4px;
      }

    &:hover {
      box-shadow: 0 0 10px #1b1bb7;
      border-radius: 25px;

    }
  }

  h3 {
    width: 300px;
    border-bottom: 0 solid;
    background-image: radial-gradient(#2118ff, #4a6efc);
    background-position: bottom;
    background-size: 100% 2px;
    background-repeat: no-repeat;
    text-align: center;
  }

  .payment-card {
    @include container(column, center, center);
    background: white;
    max-width: 60%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px blue;

    .credit-total {
      width: 350px;
      border-bottom: 1px solid blue;
    }

    .payment-f {
      @include container(row, space-between, center);
      width: 350px;
      margin-bottom: 10px;
      border-bottom: 1px solid #fd00ff85;
      padding-bottom: 15px;
    }

    .btn {
      @include btn(gray, white);
      background: #9f4545;
      color: #cad0d9;
      border-radius: 7px;
      margin-top: 20px;
    }

  }
}
