@import "../../styles/general";

.dropdown {
  background: #889df9;
  border: 1px solid #6161f5;
  border-radius: 15px;
  transition: border-radius 0.5s ease;
}

.select-open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select {
  width: 100%;
  height: 30px;
  position: relative;
  user-select: none;


  .current-category-section {
    @include container(row, space-between, center);
    height: 100%;
    padding-right: 15px;
  }

  .hover:hover {
    background: bisque;
    cursor: pointer;
  }

  .options-container {
    position: absolute;
    top: 100%;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    transition: max-height 0.25s ease;
  }

  .options-show {
    max-height: 200px;
    width: 100%;
    background: white;
    overflow: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  div.option:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #6666f0;
    border-radius: 10px;
  }

  .option {
    @include container(row, space-between, center);
    background: white;
    border: 1px solid orange;
    height: 30px;
    color: black;
    padding: 0 5px;
  }

  .option-rem-button {
    background: #1b1bb7;
    min-height: unset;
    padding: 0 3px;
    height: unset;
    width: unset;
    box-shadow: unset;
    color: white;
    border-radius: 2px;
  }

  .current-category {
    width: 145px;
  }

  @media (max-width: 800px) {
    .current-category {
      width: 130px;
    }
  }

  .ellipsis-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .option:hover {
    background: bisque;
    cursor: pointer;
  }

  .icon {
    right: 10px;
    width: 18px;
    height: 18px;
  }
}

.popup-category {
  @include container(unset, center, center);
  background: rgb(255 255 255 / 51%);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: auto;

  color: black;

  .add-category {
    display: flex;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0 6px;


    input {
      border: none;
      border-bottom: 1px solid black;
      flex: 1;
      margin: 0 15px 0 5px;
      font-size: 1em;
    }

    input:focus-visible {
      outline: none;
    }

    .btn-section {
      display: flex;
      align-items: center;
    }

    .btn, button {
      @include container(unset, center, center);
      width: unset;
      height: 35px;
      background: #1b1bb7;
      border-radius: 4px;
      color: white;
      cursor: pointer;
    }

    .btn {
      margin: 0 3px;
    }

    @media (max-width: 800px) {
      button {
        color: white;
        box-shadow: unset;
      }
    }

    .rem-warning-message {
      margin-right: 10px;
    }

    .rem-btn {
      min-width: 69px;
      min-height: 35px;

      .loader {
        height: 16px;
        width: 16px;
      }
    }
  }

  @media (max-width: 600px) {
    .add-category {
      flex-direction: column;
      max-width: 90%;

      .btn-section {
        margin-top: 15px;
      }
    }
  }
}
