@import "general";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.app {
  @include container(column, center, center);
  height: 100%;
  background: rgba(206, 233, 243, 1);
  overflow: hidden;

  font-family: 'Quicksand', sans-serif;

  button {
    font-family: 'Quicksand', sans-serif;
  }

  .close-button {
    @include btn(blue, white);
    font-size: 25px;
    position: fixed;
    right: 50px;
    top: 50px;
  }
}

.app-card {
  @include container(column, center, center);
  @include card(200px, 200px, 1px solid green);
}

.content-footer-wrapper {
  @include container(column, center, center);
  height: 100%;
  display: block;
  overflow: auto;
  position: relative;
}

img {
  border-radius: 7px;
}

// grid layout classes
.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  overflow: auto;
  padding: 50px 0;
}

.my-masonry-grid_column {
  margin: 10px;
  display: flex;
  flex-direction: column;

}

///

.image-card-wrapper {
  margin: 10px 0;
  text-align: center;
  background: cadetblue;
  border-radius: 7px;
  box-shadow: 0 0 6px;

  img {
    border-radius: 7px 7px 0 0;
  }
}

.image-card-wrapper-hover:hover {
  box-shadow: -1px -1px 10px;
  cursor: pointer;
  transform: translate(2px, 2px);
}

.image-card-wrapper-active:active {
  box-shadow: 0 0 4px;
}









