@import "general";

* {
  box-sizing: border-box;
}

html, body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

#root {
  height: 100%;
}

.app {
  @include container(column, center, center);
  height: 100%;
  background: rgba(206, 233, 243, 1);
  overflow: hidden;

  font-family: 'Quicksand', sans-serif;
  font-size: 1em;

  button {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
  }
}

.app-card {
  @include container(column, center, center);
  @include card(200px, 200px, 1px solid green);
}

.content-footer-wrapper {
  @include container(column, center, center);
  height: 100%;
  display: block;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
}

img {
  border-radius: 7px;
}

p {
  margin: 0;
}











