$mandala-img: "https://ik.imagekit.io/thfdl6dmv/antonia-illustrations/mandala.png?ik-sdk-version=javascript-1.4.3&updatedAt=1674546392371";

@mixin container($flexDirection, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
  width: 100%;
}
 //$width, $height, $border: none, $radius: 10px, $background
@mixin card($border: none, $radius: 10px, $background: green) {
  border: $border;
  border-radius: $radius;
  background: $background;
}

@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@mixin mandalaBackGround() {
  background: url($mandala-img) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 150% auto;
  flex: 1;
}

@mixin blurBackGround() {
  @include dimensions(100%, 100%);
  background: #aabaff96;
}

@mixin btn($bck-hover, $color-hover) {

    background: none;
    padding: 5px 10px;
    border: none;

    &:hover {
      background: $bck-hover;
      border-radius: 3px;
      color: $color-hover;
      cursor: pointer;
    }

}


