@import "../src/styles/general";

.nav-wrapper {
  @include container(row, center, unset);
  width: 100%;
  overflow-x: hidden;
  position: sticky;
  top: 0;
  z-index: 8;
}

.nav {
  @include container(row, unset, center);
  background: #6a80f59c;
  width: 100%;
  height: 35px;
  overflow-x: auto;
}

.nav div {
  @include btn(unset, unset);
  margin: 5px;
  display: inline;
}

.scroll-btn-r, .scroll-btn-l {
  @include btn(rgb(102, 102, 239), white);
  @include container(row, center, center);
  padding: 0;
  background: rgb(140 140 167);
  position: absolute;
  width: 4vw;
  height: 35px;
}

.scroll-btn-l {
  right: 0;
}

.scroll-btn-r {
  left: 0;
}

.nav::-webkit-scrollbar {
 display: none;
}