@import "src/styles/general";

footer {
  @include container(column, center, center);
  height: 250px;
  background: #083E41;
  color: white;
  padding: 40px 0;

  .footer-details {
    @include container(row, center, center);

    a {
      text-decoration: none;
      color: white;
    }
  }

  @media (max-width: 700px) {
    .footer-details {
      flex-direction: column;
      justify-content: unset;
      margin-bottom: 10px;
    }

    .footer-details section div {
        text-align: center;
    }

    .footer-details a {
      margin-bottom: 20px;
    }
  }
  .footer-details section {
    @include container(column, center, center);
    height: 153px;
    flex: 0.4;
  }

  .leave-message {
    @include btn(blue, white);
    color: white;
  }

}
