.place-holder-loader-wrapper {
  position: relative;
  margin: 0 25px;

  .loader {
    position: absolute;
    bottom: 40px;
    right: 43%;
    height: 40px;
    width: 40px;
  }

  .image-place-holder-icon {
    height: 70%;
    min-height: 200px;
    background: #ffffffad;
    font-size: 200px;
    color: gray;
    padding: 0 50px;
    margin: 25px 0;
    border-radius: 7px;
  }
}
