.slide-container {
  .image-place-holder-icon {
    height: 70%;
    min-height: 200px;
    background: #ffffffad;
    font-size: 200px;
    color: gray;
    padding: 0 50px;
    margin: 25px 0;
    border-radius: 7px;
  }
}