@import "../../styles/general";

.portfolio-wrapper {
  @include container(column, center, center);
}

.portfolio-up-page {
  @include container(column, start, center);
  height: 100%;
  position: relative;

  .portfolio-page-blur {
    @include blurBackGround();
    position: absolute;
    top: 0;
    right: 0;
  }

  .slide-container {
    @include container(column, center, unset);
    width: 95%;
    height: 100%;
  }

  .no-image-to-show {
    margin: auto;
    font-size: xx-large;
    z-index: 0;
  }
}

.portfolio-down-page {
  @include container(column, center, center);
  background: linear-gradient(92deg, #cad2ff, rgb(144 158 254 / 75%));
  min-height: 200px;
  padding-bottom: 25px;

  #add-image {
    @include btn(#cfc1ff, #727272);
    background: #d9d0fd;
    border-radius: 3px;
    border: none;
  }
}

.portfolio-down-page-none {
  display: none;
}

.images-loader {
  margin: auto;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
