@import "../../styles/general";

.main-header {
  @include container(column, center, end);
  background: #1426f78a;
}

.main-header nav {
  @include container(row, end, unset);
  padding: 5px 15px 5px 0;

  button {
    @include btn(#4141ca, white);
    min-height: 35px;
    margin: 0 2px;
    padding: 5px 5px;
    font-size: 15px;
    color: white;
  }

  #search-btn-main {
    @include container(row, center, center);
    width: unset;
  }

  .cart-btn {
    @include container(row, end, center);
    width: unset;
    height: 35px;
    padding: 0 5px;
    margin-left: 10px;

    svg {
      display: unset;
      height: unset;
    }
  }

  input {
    height: 25px;
  }
}


.dropdown-wrapper {
  margin-right: 5px;

  &:hover {
    cursor: pointer;
  }

  .icon {
    top: 10px;
  }

  .select {
    width: 180px;
    text-align: center;
    background: none;
    color: white;
    z-index: 99999999;
  }

  .option {
    border: 1px solid #cad0d9;
    text-align: center;
  }

  .ellipsis-container {
    width: 145px;
  }
}

nav #logout-btn {
  background: none;
  color: #020279;
  display: flex;
  align-items: center;
  box-shadow: none;
  width: fit-content;

  svg {
    margin-left: 3px;
  }
}
