@import "../../styles/general";


.mobile-header {
  @include container(row, end, center);
  background: #1426f78a;
  padding: 10px;

  #burger-btn {
    @include btn(unset, unset);
    @include container(column, center, center);
    width: unset;
    min-height: 25px;
    margin: 0 2px;
    padding: 5px 5px;
    font-size: 20px;
    color: darkslategrey;

    &:hover {
      padding: 0;

      svg {
        margin: 5px 5px;
      }
    }
  }

  //

  .nav-blur {
    position: absolute;
    top: 50px;
    bottom: 0;
    right: -100%;
    z-index: 9;
    width: 100%;
    transition: all 0.5s ease-in-out;
  }

  .nav-blur-active {
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    z-index: 9;
    width: 100%;
    background: rgb(0 0 0 / 54%);
    transition: all 0.5s ease-in-out;

  }

  //

  nav {
    @include container(column, unset, center);
    transition: dispalay 0.5s;
    width: unset;
    height: 100%;
    min-width: 200px;
    padding: 0 5px;

    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    background: rgb(167 175 255);

    .display-none {
      display: none;
    }

    button {
      @include container(row, center, center);
      width: 100%;
      border: none;
      background: white;
      margin: 3px;
      height: 35px;
      box-shadow: 0 0 5px #2626b9;

      &:hover {
        box-shadow: 0 0 10px #2626b9;
        background: #2c027a;
        color: white;
      }

      &:active {
        box-shadow: 0 0 10px #2626b9;
        background: #2c027a;
        color: white;
      }
    }

    .dropdown-wrapper {
      @include container(row, center, center);
      margin: 3px;
      background: white;
      box-shadow: 0 0 5px #2626b9;
      border-radius: unset;

      .dropdown {
        background: unset;
        border: unset;
        width: 100%;
      }

      .icon {
        top: 7px;
      }


      &:hover {
        box-shadow: 0 0 10px #2626b9;
        background: #2c027a;
        color: white;
      }

      &:active {
        box-shadow: 0 0 10px #2626b9;
        background: #2c027a;
        color: white;
      }

      .select {
        @include container(row, center, center);
        padding: 0;
        color: black;

        &:hover {
          background: #2c027a;
          color: white;
        }

        &:active {
          background: #2c027a;
          color: white;
        }
      }

      .options-show {
        width: 100%;
      }

      .option {
        color: black;
      }
    }

    .search-wrapper {
      height: 45px;

      input, .search-btn {
        height: 35px;
      }
    }

    .logout-wrapper {
      @include container(unset, center, center);
      flex: 1;
      width: 100%;
    }
  }
}
